{% extends "base.html" %}
{% load static %}

{% block title %}Sign In | Hop & Barley{% endblock %}

{% block content %}
<main class="auth-page-wrapper">
  <div class="auth-background">
    <img src="{% static 'img/background/pattern.jpg' %}" alt="Background pattern">
  </div>
  <div class="auth-form-container">
    <div class="auth-container auth-container--login">
      <div class="Legend">
        <h1 class="auth-title">Sign In</h1>
      </div>

      <form class="auth-form" method="post" action="{% url 'login' %}">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <ul class="form-errors">
            {% for error in form.non_field_errors %}<li>{{ error }}</li>{% endfor %}
        </ul>
        {% endif %}

        <div class="InputField">
          <label for="id_username">Username</label>
          {{ form.username }}
          {% if form.username.errors %}
          <ul class="form-errors">
              {% for error in form.username.errors %}<li>{{ error }}</li>{% endfor %}
          </ul>
          {% endif %}
        </div>
        <div class="InputField">
          <label for="id_password">Password</label>
          {{ form.password }}
          {% if form.password.errors %}
          <ul class="form-errors">
              {% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}
          </ul>
          {% endif %}
        </div>

        <div class="ButtonGroup">
          <button type="submit" class="button button--primary">Sign In</button>
        </div>
      </form>

      <p class="auth-switch">Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
    </div>
  </div>
</main>
{% endblock %}
