{% extends "base.html" %}
{% load static %}

{% block title %}Change Password | Hop & Barley{% endblock %}

{% block content %}
<main class="auth-page-wrapper">
  <div class="auth-background">
    <img src="{% static 'img/background/pattern.jpg' %}" alt="Background pattern">
  </div>
  <div class="auth-form-container">
    <div class="auth-container auth-container--login">
      <div class="Legend">
        <h1 class="auth-title">Change Password</h1>
      </div>

      <form class="auth-form" method="post">
        {% csrf_token %}

        {% if form.errors %}
        <ul class="form-errors">
          {% for field in form %}
            {% for error in field.errors %}<li>{{ error }}</li>{% endfor %}
          {% endfor %}
        </ul>
        {% endif %}

        <div class="InputField">
          <label for="id_old_password">Current Password</label>
          {{ form.old_password }}
        </div>
        <div class="InputField">
          <label for="id_new_password1">New Password</label>
          {{ form.new_password1 }}
        </div>
        <div class="InputField">
          <label for="id_new_password2">Confirm New Password</label>
          {{ form.new_password2 }}
        </div>

        <div class="ButtonGroup">
          <button type="submit" class="button button--primary">Change Password</button>
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}
